
<div style="display:flex;height:100%;background-color:white;flex-direction: column;">
<div style="display: flex;flex-flow: row;justify-content:space-around;">
  <md-card class="sysTotals">
    <md-card-header>
      <!--<div md-card-avatar class="example-header-image"></div>-->
      <md-card-title>כלל המערכות</md-card-title>
      <md-card-subtitle>סהכ 85 מערכות</md-card-subtitle>
    </md-card-header>
    <md-card-content>
 <app-sys-totals [id]="1"></app-sys-totals>

    </md-card-content>
  </md-card>
  <md-card class="sysTotals">
    <md-card-header>
      <!--<div md-card-avatar class="example-header-image"></div>-->
      <md-card-title>סדר העלאה 1</md-card-title>
      <md-card-subtitle>סה"כ 15 מערכות</md-card-subtitle>
    </md-card-header>
    <md-card-content>
      <app-sys-totals></app-sys-totals>
    </md-card-content>
  </md-card>
  <md-card  class="sysTotals">
    <md-card-header>
      <!--<div md-card-avatar class="example-header-image"></div>-->
      <md-card-title>סדר העלאה 2</md-card-title>
      <md-card-subtitle>סה"כ 5 מערכות</md-card-subtitle>
    </md-card-header>
    <md-card-content>
      <app-sys-totals></app-sys-totals>
    </md-card-content>
  </md-card>
  <md-card  class="sysTotals">
    <md-card-header>
      <!--<div md-card-avatar class="example-header-image"></div>-->
      <md-card-title>סדר העלאה 3</md-card-title>
      <md-card-subtitle>סה"כ 5 מערכות</md-card-subtitle>
    </md-card-header>
    <md-card-content>
      <app-sys-totals></app-sys-totals>
    </md-card-content>
  </md-card>
</div>
</div>
<!--<p>יוצגו תקלות אחרונות של מבט זמינות מוקד ואבטחת מידע</p>
<p>זמינות חודשית\שנתית כלל המערכות , זמינות חודשית לפי סגמנט</p>
<p>מגמה בהשוואה מול שנה קודמת</p>
<p>יוצגו מערכות לפי סגמנט החורגות מה threshhold</p>
<p>ai פתוחים</p>


<p>
גרפים:
  עם אפשרות לחיתוך לפי סגמנט
</p>
<h4>א.	התפלגות תקלות \ משך טיפול בתקלה (column+line)</h4>
<h4>ב.	התפלגות זמינות חודשית ( line)</h4>
<h4>ג.	התפלגות לפי סוג תקלה (פאי)</h4>
<h4>ד.	תקלות לפי מערכת (column+line) כולל זמן השבתה</h4>
<h4>.ה.	תקלות לפי רמת חומרה.(פאי)</h4>
<h4>ai פתוחים</h4>-->
