
<md-sidenav-container    fullscreen>
  <md-sidenav #start>
    <md-nav-list>
      <hr>
    </md-nav-list>
    <button md-button (click)="start.close()">CLOSE</button>
  </md-sidenav>

    <md-toolbar color="primary">
          <button md-icon-button (click)="start.open()">
            <md-icon class="md-24" >menu</md-icon>
          </button>
          <div>
            <h1>מבט לזמינות החדשה</h1>

          </div>
        </md-toolbar>

    <div style="flex: 1;background-color: rgb(245, 245, 245);" >
      <router-outlet></router-outlet>
    </div>
  <div style="flex:auto;flex-grow: 0;height:50px;background-color: rgb(245, 245, 245);background-image:url('../assets/TochnoLogiaLogo.gif');background-repeat: no-repeat;background-position: right;"></div>


</md-sidenav-container>

