
<md-sidenav-container   dir="rtl"   fullscreen>
  <md-sidenav #start style="width:320px;">
    <md-nav-list>
      <md-list>
        <h3 md-subheader>ראשי</h3>
        <md-list-item *ngFor="let folder of main">
          <md-icon md-list-avatar>folder</md-icon>
          <h4 md-line> <a class="li" [routerLink]="folder.link">{{folder.name}}</a></h4>
          <p md-line class="demo-2"> {{folder.updated}} </p>
        </md-list-item>
        <md-divider></md-divider>
        <h3 md-subheader>מערכות פתוחות</h3>
        <md-list-item *ngFor="let folder of sysmenuitems">
          <md-icon md-list-avatar>folder</md-icon>
          <h4 md-line>{{folder.name}}</h4>
          <p md-line class="demo-2"> {{folder.updated}} </p>
        </md-list-item>
        <md-divider></md-divider>
        <h3 md-subheader>תקלות</h3>
        <md-list-item *ngFor="let note of faults">
          <md-icon md-list-avatar>note</md-icon>
          <h4 md-line>{{note.name}}</h4>

          <p md-line class="demo-2"> {{note.updated}} </p>
        </md-list-item>

        <md-divider></md-divider>
        <h3 md-subheader>ניהול</h3>
        <md-list-item *ngFor="let note of admin">
          <md-icon md-list-avatar>note</md-icon>
          <h4 md-line>{{note.name}}</h4>

          <p md-line class="demo-2"> {{note.updated}} </p>
        </md-list-item>

      </md-list>
      <hr>
    </md-nav-list>
    <button md-button (click)="start.close()">CLOSE</button>
  </md-sidenav>


  <md-toolbar color="primary">
          <button md-icon-button (click)="start.open()">
            <md-icon class="md-24" >visibility</md-icon>
          </button>
          <div>


            <h1>מבט לזמינות החדשה</h1>



          </div>
        </md-toolbar>

    <div style="flex: 1;" class="mzContent" >
      <router-outlet></router-outlet>
    </div>
  <div class="mzContent" style="flex:auto;flex-grow: 0;height:50px;background-image:url('../assets/TochnoLogiaLogo.gif');background-repeat: no-repeat;background-position: right;"></div>


</md-sidenav-container>

