/* You can add global styles to this file, and also import other style files */
@import '~@angular/material/core/theming/prebuilt/deeppurple-amber.css';
html, body, material-app, md-sidenav-container, .my-content {
  margin: 0;
  width: 100%;
  height: 100%;
  font-family: Arial;
}
.my-container {
  width: 500px;
  height: 300px;
}

.my-container md-sidenav {
  max-width: 200px;
}

.my-container .md-sidenav-content,
.my-container md-sidenav {
  display: flex;
}

.my-scrolling-content {
  overflow: auto;
}

button.my-fab {
  position: absolute;
  right: 20px;
  bottom: 10px;
}

h1 {
  font-size: 20px;
}

.links line {
  stroke: #999;
  stroke-opacity: 0.6;
}

.nodes circle {
  stroke: #fff;
  stroke-width: 1.5px;

}
.node text {
  font: 10px Arial;


}
